.Bloc_1 {
    display: flex;
}

.part1 {
    width: 476.992px;
    height: 739px;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: white;
}

.part1 .content {
    position: relative;
    top: 250px;
}

h1 {
    font-size: 36px;
    line-height: 47px;
    font-weight: 400
}

.part1 .content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

#part1btn {
    background: #0A84FF;
    width: 278px;
    height: 42px;
    border: 1px solid #0A84FF;
    border-radius: 20px;
}

#part1btn a {
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 26px;
    padding: 8px 28px;
}

@keyframes zoom {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

#part1btn:hover {
    animation: zoom 1s ease;
    transform: scale(1.1);
}


.part2 {
    display: flex;
    position: relative;
    width: 1448px;
    height: 739px;
    color: white;
}

.part2 .filtre {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(rgba(255, 255, 255, 0) 50%, #192847);
    width: 100%;
    height: 100%;
}

.part2 .content {
    position: relative;
    top: -250px;
    left: 25px;
    padding: 20px;
    z-index: 11;
}

.part2 .content>p:first-child {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.part2 .content>p:last-child {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    width: 1030px;
}

.part2 h2 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
    padding-right: 500px;
}

.slider {
    height: 739px;
    width: 100%;
}

.slider_nav {
    position: absolute;
    z-index: 20;
}

.slider_content {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider_content_item {
    height: 100%;
    min-width: 100%;
}

.slider_content_item img {
    height: 100%;
    width: 100%;
}

#Bloc_1-fleche_d {
    display: block;
    position: absolute;
    left: 100px;
    top: 12px;
}

#Bloc_1-fleche_g {
    display: block;
    position: absolute;
    top: 12px;
    left: 25px;
}

@media screen and (max-width: 1878px) {
    .part1 {
        width: 360px;
        height: 576px;
    }

    .part1 .content {
        top: 170px;
    }

    h1 {
        font-size: 26px;
    }
    
    .part1 .content p {
        font-size: 12px;
    }
    
    #part1btn {
        width: 278px;
    }
    
    #part1btn a {
        font-size: 12px;
    }

    .part2 {
        width: 1080px;
        height: 576px;
    }

    .slider_content_item, .slider_content, .slider {
        height: 576px;
    }
    
    #Bloc_1_Carrousel{
        height: 576px;
    }

    .part2 .content>p:first-child {
        font-size: 14px;
    }
    
    .part2 .content>p:last-child {
        font-size: 14px;
        width: 600px;
    }
    
    .part2 h2 {
        font-size: 22px;
        padding-right: 0px;
    }

    #Bloc_1-fleche_d {
        width: 29px;
        height: 29px;
        left: 80px;
    }
    
    #Bloc_1-fleche_g {
        width: 29px;
        height: 29px;
    }
}

@media screen and (max-width: 1428px) {
    .Bloc_1 {
        width: 100%;
    }

    .part1 {
        width: 30%;
        height: 434px;
    }

    .part1 .content {
        top: 90px;
    }

    h1 {
        font-size: 22px;
    }
    
    .part1 .content p {
        font-size: 10px;
    }
    
    #part1btn {
        width: 100%;
    }
    
    #part1btn a {
        font-size: 12px;
    }

    .part2 {
        width: 70%;
        height: 434px;
    }

    .part2 .content {
        top: -210px;
    }

    
    .slider_content_item, .slider_content, .slider {
        height: 434px;
    }

    
    #Bloc_1_Carrousel{
        height: 434px;
    }

    .part2 .content>p:first-child {
        font-size: 10px;
    }
    
    .part2 .content>p:last-child {
        font-size: 10px;
        width: 100%;
    }
    
    .part2 h2 {
        font-size: 22px;
        line-height: 30px;
        padding-right: 250px;
    }
}

@media screen and (max-width: 1036px) {
    .Bloc_1 {
        flex-direction: column;
    }

    .part1 {
        width: 100%;
        height: 252px;
        order: 2;
    }

    .part1 .content {
        top: 20px;
    }

    h1 {
        font-size: 22px;
    }
    
    .part1 .content p {
        font-size: 10px;
    }
    
    #part1btn {
        width: 200px;
    }
    
    #part1btn a {
        font-size: 10px;
    }

    .part2 {
        width: 100%;
        height: 272px;
    }
    
    #Bloc_1_Carrousel{
        height: 272px;
    }

    .part2 .content {
        top: -200px;
        left: 0px;
    }

    .part2 .content>p:first-child {
        font-size: 10px;
    }
    
    .part2 .content>p:last-child {
        font-size: 10px;
        line-height: 18px;
        width: 250px;
    }
    
    .part2 h2 {
        font-size: 22px;
        line-height: 30px;
        padding-right: 50px;
    }

    .slider_content_item, .slider_content, .slider {
        height: 272px;
    }


    #Bloc_1-fleche_d {
        width: 24px;
        height: 24px;
        left: 80px;
    }
    
    #Bloc_1-fleche_g {
        width: 24px;
        height: 24px;
    }
}