.story_header h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.index_carrousel {
    display: flex;
    margin-left: 80px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.index_carrousel h3 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: white;
    position: relative;
    top: -70px;
    left: 20px;
    z-index: 12;
}

.index_carrousel p {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: white;
    position: relative;
    top: -70px;
    left: 20px;
    z-index: 12;
}

.index_carrousel article {
    margin-right: 25px;
    width: 270px;
    height: 500px;
    position: relative;
}

.index_carrousel .filtre {
    position: absolute;
    z-index: 10;
    background: linear-gradient(rgba(255, 255, 255, 0)80%, #0000009e);
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.index_carrousel img {
    border-radius: 10px;
    width: 270px;
    height: 500px;
}

.index_carrousel article .zoom {
    overflow: hidden;
    width: 270px;
    height: 500px;
    border-radius: 10px;
}

.index_carrousel article .zoom:hover img {
    animation: imgzoom 1s ease;
    transform: scale(1.1);
}


#Bloc_10-fleche_g {
    position: relative;
    top: -540px;
    left: 650px;
    width: 28px;
    height: 28px;
}

#Bloc_10-fleche_d {
    position: relative;
    top: -540px;
    left: 650px;
    width: 28px;
    height: 28px;
}

@media screen and (max-width: 1036px) {
    .story_header h2 {
        margin-left: 15px;
        font-size: 16px;
        line-height: 16px;
        width: 250px;
    }

    .index_carrousel {
        margin-left: 15px;
    }


    #Bloc_10-fleche_g {
        top: -630px;
        left: 250px;
        width: 20px;
        height: 20px;
    }

    #Bloc_10-fleche_d {
        top: -630px;
        left: 250px;
        width: 20px;
        height: 20px;
    }

    .index_carrousel article {
        margin-right: 25px;
        width: 400px;
        height: 600px;
        position: relative;
    }

    .index_carrousel .filtre {
        height: 600px;
    }

    
    .index_carrousel img {
        border-radius: 10px;
        width: 400px;
        height: 600px;
    }
    
    .index_carrousel article .zoom {
        overflow: hidden;
        width: 400px;
        height: 600px;
        border-radius: 10px;
    }

}