* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    width: 100%;
    overflow-x: hidden;
    background: #045694;
}

#app-container {
    width: 1920px;
    height: 8300px;
    background: #EEF2FB;
    position: relative;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #045694;
}

li a{
    text-decoration: none;
    color: white;
}

.first-menu, .second-menu {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right: 20px;
}

.first-menu li a {
    font-size: 12px;
    line-height: 32px;
    font-weight: 400;
    padding-left: 20px;
}

.menu-bottom {
    display: flex;
    height: 64px;
}

.menu-bottom>img:nth-child(1) {
    width: 50px;
    height: 55px;
    padding-top: 10px;
}

.menu-bottom a img {
    width: 104px;
    height: 50px;
    padding-top: 10px;
}

.second-menu{
    padding-top: 20px;
}

.second-menu li a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    padding-left: 20px;
}

.search-profil {
    position: relative;
    left: 780px;
    top: 15px;
}

.search-profil img {
    padding-left: 20px;
    width: 44px;
    height: 20px;
}

.search-profil>img:nth-child(2) {
    width: 44px;
    height: 25px;
}

.footer_top {
    display: flex;
}

.footer_top img {
    height: 30px;
    margin-top: 10px;
}

.footer_top a img {
    width: 73px;
    height: 24px;
    margin-left: 60px;
    margin-top: 10px;
} 

.rs {
    margin-left: 280px;
    width: 700px;
}

.rs img {
    width: 22px;
    height: 22px;
    margin-right: 32px;
}

.footer_top p {
    color: white;
    margin-top: 10px;
    margin-right: 50px;
}

.footer_mid p{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    width: 1920px;
    text-align: center;
}

.partners {
    display: flex;
    margin-left: 500px;
    width: 700px;
}

.partners img {
    width: 100px;
    height: 50px;
    margin-right: 100px;
}

.footer_bottom {
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.footer_bottom p {
    color: white;
    margin-right: 20px;
}

#credits {
    width: 280px;
    margin-left: 700px;
}

#credits a {
    color: white;
}