.maillot_header {
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 15px;
}

.maillot_header h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.maillot_header p {
    color: #0A84FF;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: relative;
    left: 1500px;
    top: 20px;
}

.maillot_carrousel {
    display: flex;
    margin-left: 80px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.maillot_carrousel h3 {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

.maillot_carrousel article {
    margin-right: 25px;
    width: 270px;
}

.maillot_carrousel img {
    border-radius: 10px;
    width: 270px;
    height: 261px;
}

.maillot_carrousel article .zoom {
    overflow: hidden;
    width: 270px;
    border-radius: 10px;
}

.maillot_carrousel article .zoom:hover img {
    animation: imgzoom 1s ease;
    transform: scale(1.1);
}

@media screen and (max-width: 1878px) {
    .maillot_carrousel img {
        border-radius: 10px;
        width: 190px;
        height: 190px;
    }

    .maillot_carrousel h3 {
        font-size: 14px;
        line-height: 29px;
        font-weight: 400;
    }
    
    
    .maillot_carrousel article .zoom {
        overflow: hidden;
        width: 190px;
        border-radius: 10px;
    }

    #Bloc_7-fleche_g {
        position: relative;
        top: -330px;
        left: 250px;
        width: 28px;
        height: 28px;
    }
    

    #Bloc_7-fleche_d {
        position: relative;
        top: -330px;
        left: 250px;
        width: 28px;
        height: 28px;
    }

    .maillot_header p {
        left: 1080px;
    }
}

@media screen and (max-width: 1428px) {
    .maillot_carrousel img {
        border-radius: 10px;
        width: 125px;
        height: 125px;
    }

    .maillot_carrousel h3 {
        font-size: 8px;
        line-height: 19px;
        font-weight: 600;
    }
    
    
    .maillot_carrousel article .zoom {
        overflow: hidden;
        width: 125px;
        border-radius: 10px;
    }

    #Bloc_7-fleche_g {
        position: relative;
        top: -240px;
        left: 250px;
        width: 28px;
        height: 28px;
    }
    

    #Bloc_7-fleche_d {
        position: relative;
        top: -240px;
        left: 250px;
        width: 28px;
        height: 28px;
    }

    .maillot_header p {
        left: 680px;
    }
}


@media screen and (max-width: 1036px) {
    .maillot_header {
        margin-left: 15px;
    }

    .maillot_carrousel {
        margin-left: 15px;
    }

    .maillot_carrousel img {
        border-radius: 10px;
        width: 190px;
        height: 190px;
    }

    .maillot_carrousel h3 {
        font-size: 12px;
        line-height: 19px;
        font-weight: 600;
    }
    
    
    .maillot_carrousel article .zoom {
        overflow: hidden;
        width: 190px;
        border-radius: 10px;
    }

    #Bloc_7-fleche_g {
        position: relative;
        top: -300px;
        left: 150px;
        width: 28px;
        height: 28px;
    }
    

    #Bloc_7-fleche_d {
        position: relative;
        top: -300px;
        left: 150px;
        width: 28px;
        height: 28px;
    }

    .maillot_header p {
        left: 180px;
        font-size: 12px;
    }

}