.Bloc_6 {
    width: 100%;
    height: 906px;
    color: white;
    overflow: hidden;
    position: relative;
}

.Bloc_6 img {
    height: 906px;
    left: -420px;
    position: relative;
}

.Bloc_6 .filtre {
    background-color: #1928475d;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.Bloc_6 .content {
    position: relative;
    z-index: 11;
    top: -500px;
    left: 50px;
}

.Bloc_6 .content img {
    width: 184px;
    height: 43px;
    left: 0;
    top: -120px;
}

.Bloc_6 .content h2 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
    position: relative;
    top: -80px;
}

.Bloc_6 .content p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    width: 900px;
    position: relative;
    top: -60px;
}

.Bloc_6 .content button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 16px;
    position: relative;
    top: -25px;
    left: 10px;
}

@media screen and (max-width: 1878px) {
    .Bloc_6 {
        height: 625px;
    }

    .Bloc_6 img {
        height: 100%;
        left: 0;
    }

    .Bloc_6 .content {
        position: relative;
        z-index: 11;
        top: -350px;
        left: 50px;
    }

    .Bloc_6 .content p {
        font-size: 18px;
        line-height: 36px;
        font-weight: 400;
        width: 900px;
        position: relative;
        top: -60px;
    }
    
    .Bloc_6 .content button {
        top: -25px;
        left: 0px;
    }
}

@media screen and (max-width: 1428px) {
    .Bloc_6 {
        height: 440px;
    }

    .Bloc_6 img {
        height: 100%;
        left: -120px;
    }

    .Bloc_6 .content {
        position: relative;
        z-index: 11;
        top: -290px;
        left: 50px;
    }

    .Bloc_6 .content img {
        width: 74px;
        height: 20px;
        left: 0;
        top: -30px;
    }

    .Bloc_6 .content h2 {
        font-size: 20px;
        line-height: 50px;
        font-weight: 400;
        position: relative;
        top: -40px;
    }

    .Bloc_6 .content p {
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
        width: 350px;
        position: relative;
        top: -40px;
    }
    
    .Bloc_6 .content button {
        top: -25px;
        left: 0px;
    }

    .Bloc_6 .content button {
        padding: 8px 16px;
        border-radius: 16px;
        width: 168px;
        font-size: 10px;
    }
}

@media screen and (max-width: 1036px) {
    .Bloc_6 {
        height: 643px;
    }

    .Bloc_6 img {
        height: 1100px;
        left: -1440px;
    }

    .Bloc_6 .content {
        position: relative;
        z-index: 11;
        top: -600px;
        left: 15px;
    }

    .Bloc_6 .content img {
        width: 74px;
        height: 20px;
        left: 0;
        top: -30px;
    }

    .Bloc_6 .content h2 {
        font-size: 20px;
        line-height: 50px;
        font-weight: 400;
        position: relative;
        top: -40px;
    }

    .Bloc_6 .content p {
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
        width: 350px;
        position: relative;
        top: -40px;
    }
    
    .Bloc_6 .content button {
        top: -25px;
        left: 0px;
    }

    .Bloc_6 .content button {
        padding: 8px 16px;
        border-radius: 16px;
        width: 168px;
        font-size: 10px;
    }
}